<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personalai.os.mapper.MemoryFactHistoryMapper">

    <select id="selectByFactId" resultType="com.personalai.os.entity.MemoryFactHistory">
        SELECT * FROM memory_fact_history WHERE fact_id = #{factId} ORDER BY version DESC
    </select>

    <select id="selectMaxVersion" resultType="int">
        SELECT MAX(version) FROM memory_fact_history WHERE fact_id = #{factId}
    </select>

</mapper>
